/*-------------START Reset-------------*/
button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline: 0;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.html::-webkit-scrollbar {
  display: none;
}
/*-------------END Reset-------------*/






/*-------------START Layout-------------*/
body {
  line-height: 1.5em;
  padding: 0;
  margin: 0;
}

section {
  /* height: 100vh; */
  min-height: 100vh;
}

#home {
  background-color: #111;
  /* background: -webkit-linear-gradient(45deg, #000000, #3e3e3e); */
  background: rgb(17,17,17);
  background: linear-gradient(110deg, rgba(17,17,17,1) 0%, rgba(17,17,17,1) 50%, rgba(34,34,34,1) 70%, rgba(17,17,17,1) 100%); 
}

#about {
  background-color: #aaa;
}

#portfolio {
  background-color: #333;
  }

#contacts {
  background-color: #000;
  overflow-y: hidden;
  max-height: 100vh;
}
/*-------------END Layout-------------*/






/*-------------START Helpers-------------*/
.skew {
  transform: skew(-20deg);
}

.un-skew {
  transform: skew(20deg);
}

/* Inset, by Dan Eden */

hr.style-six {
  /* border: 10;
  height: 10; */
  border-style: none;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  /* border-bottom: 10px solid rgba(255, 255, 255, 0.3); */
}
/*-------------END Helpers-------------*/


/*-------------START Fonts-------------*/
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: 100%;
  font-display: swap;
  src: url(fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXenSvMfiXnH6A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXenSvMRiXk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXf_S_MfiXnH6A.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Saira Semi Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/U9MM6c-2-nnJkHxyCjRcnMHcWVWV1cWRRXf_S_MRiXk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*-------------END Fonts-------------*/



/*-------------START Navbar-------------*/
#nav-wrapper {
  overflow: clip;
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#nav {
  background-color: #fff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: "Saira Semi Condensed", sans-serif;
  height: 4em;
  overflow: hidden;
  /*border-bottom: 1px solid #555555;*/
}

#nav.nav-visible {
  height: 100%;
  overflow: auto;
}

.nav {
  display: flex;
  height: 4em;
  line-height: 4em;
  flex-grow: 1;
  max-width: 100vw;
}

.nav-link,
.logo {
  padding: 0 1em;
}

span.gradient {
  background: #f857a8;
  background: -webkit-linear-gradient(45deg, #3e3e3e, #000000);
  background: linear-gradient(45deg, #3e3e3e, #000000);
  padding: 0 1em;
  position: relative;
  right: 1em;
  margin-right: auto;
}
span.gradient:hover {
  animation-name: logo-hover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.17, 0.57, 0.31, 0.85);
}

h1.logo {
  font-weight: 300;
  font-size: 1.75em;
  line-height: 0.75em;
  color: #fff;
}

/* Logo SX */
h1.logo a, a:active, a:hover, a:visited {
  text-decoration: none;
  /* line-height: 2.2em; */
  color: #fff;
}

.nav-link {
  text-transform: uppercase;
  line-height: 4rem;
  text-align: center;
  border-top: 0.5px solid #ddd;
  --bs-nav-link-hover-color: #ffffff;
  /* background: -webkit-linear-gradient(45deg, #3e3e3e, #000000); */

}

a:link, a:visited, a:active {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.btn-nav {
  color: #000000;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 850px) {
  #nav-wrapper {
    overflow: hidden;
  }

  #nav {
    overflow: hidden;
    flex-direction: row;
  }

  .nav-link {
    border-top: none;
  }

  .right {
    overflow: hidden;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    left: 1.5em;
    height: auto;
  }

  .btn-nav {
    display: none;
  }

  .nav a:link.active, a:visited.active, a:active.active {
    background: #000000;
    background: -webkit-linear-gradient(45deg, #3e3e3e, #000000);
    background: linear-gradient(45deg, #3e3e3e, #000000);
    color: #fff;
  }

  .nav-link-span {
    transform: skew(20deg);
    display: inline-block;
  }

  .nav-link {
    transform: skew(-20deg);
    color: #777;
    text-decoration: none;
  }
  .nav-link:last-child {
    padding-right: 4em;
  }

  a:hover.nav-link:not(.active) {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
  }
}
@keyframes logo-hover {
  20% {
    padding-right: 0em;
  }
  100% {
    padding-right: 5em;
  }
}

a.bk_bg:hover {
  text-decoration: none;
  line-height: 4rem;
  background: -webkit-linear-gradient(45deg, #3e3e3e, #000000);
}

/* Logo SX */
h1.logo {
  line-height: 2.2em;
}

/*-------------END Navbar-------------*/

/*-------------START Section-------------*/
.py-5 {

  padding-top: 5rem !important;
}
/*-------------END Section-------------*/


/*-------------START Home-------------*/
 /* Split the screen in half */
 /* .split {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 50;
  overflow-x: clip;
  padding-top: 20px;
} */

/* .split-50 {
  max-width: 100vw;
} */

/* Control the left side */
/* .home-left {
  left: 0;
  width: 75vw;
  background-color: #111;
} */

/* Control the right side */
/* .home-right {
  right: 0;
  left: 75vw;
  background-color: #111;
} */

/* If you want the content centered horizontally and vertically */
/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
} 





.container .container-sm{
  overflow: hidden;
  max-width: 60vw;
}


/* .polaroid_light_r{
  border-radius:100%;
  position:relative;
  top: 30vh;
  left:65vw;
  right:0;
  width:50vh;
  height:50vh;
  background:#fff;
  filter:blur(200px);
  opacity:0.3;
} */

.header .header-content {
   /* -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); */
  color: #ffffff;
  -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
      transform: translateY(50%);
}

.header .header-content .header-subtitle {
  font-weight: 200;
  font-size: calc(30px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.header .header-content .header-title {
  font-size: calc(30px + (120 - 40) * ((100vw - 300px) / (1600 - 300)));
  font-weight: bold;
  line-height: 1.2;
  /* margin-bottom: 25px; */
  color: inherit;
}

.header .header-content .header-mono {
  letter-spacing: 5px;
  font-weight: 500;
  font-size: calc(12px + (19 - 12) * ((100vw - 300px) / (1600 - 300)));
  /* margin-bottom: 40px; */
}

@media (max-width: 850px) {
  .header {
     /* height: 500px; */
    max-height: 100vh;
   }
  .header .social-icons {
    margin: auto;
  }
  .header .header-content {
    padding: 20px;
  }
  .header .header-content .header-mono {
    letter-spacing: 2px;
  } 
}

 .header-title {
  font-size: 2.4rem;
  font-weight: bold;
  opacity: .8;
  color: #212529;
} */

 .header-mini {
  min-height: 24rem;
  height: 24rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
  background: #fcbec6;
}




.centered-header {
  display: inline-flexbox;
  align-items:center;
  top: 15vh;
  left: 20vw;
  position: absolute;
  text-align: center;
}





/*-------------END Home-------------*/


/*-------------START Portfolio-------------*/
.btn-outline-secondary {
  --bs-btn-hover-bg: #212121;
}

.inactive-btn-outline-secondary {
  --bs-btn-color: #6c757d;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #6c757d;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #6c757d;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #05d763;
  --bs-btn-active-bg: #6c757d;
  --bs-btn-active-border-color: #6c757d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6c757d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6c757d;
  --bs-gradient: none;
}


/* Tema Portfolio DARK */

/* #portfolio {
  background-color: #111;
}

.card {
  --bs-card-color: white;
  --bs-card-bg: #333;
}

.btn-outline-secondary {
  --bs-btn-color: #fff;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #333;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #333;
}

.inactive-btn-outline-secondary {
  --bs-btn-color: #ccc;
  --bs-btn-border-color: #ccc;
  --bs-btn-hover-color: #ccc;
  --bs-btn-hover-bg: #333;
  --bs-btn-hover-border-color: #ccc;
} */

/*-------------END Portfolio-------------*/

/*-------------START Contacts-------------*/

footer {
  /* background-color: #292c2f; */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100vw;
  min-height:100vh;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
  bottom: 0;
  color: #fff;
  font-family: "Saira Semi Condensed", sans-serif;
}

.footer-navigation h3 {
  margin: 0;
  font: normal 36px Cookie, cursive;
  margin-bottom: 20px;
  color: #fff;
}

.footer-navigation h3 a {
  text-decoration: none;
  color: #fff;
}

.footer-navigation h3 span {
  color: #5383d3;
}

.footer-navigation p.links a {
  color: #fff;
  text-decoration: none;
}

.footer-navigation p.company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
}

@media (max-width:767px) {
  .footer-contacts {
    margin: 30px 0;
  }
}

.footer-contacts p {
  display: inline-block;
  color: #ffffff;
  vertical-align: baseline;
}

.footer-contacts p a {
  color: #5383d3;
  text-decoration: none;
}

.fa.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}

.fab.footer-contacts-icon {
  background-color: #33383b;
  color: #fff;
  font-size: 18px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 38px;
  margin: 10px 15px 10px 0;
}

span.new-line-span {
  display: block;
  font-weight: normal;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-about h4 {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-about p {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

div.social-links {
  margin-top: 20px;
  color: #fff;
}

.social-links a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.footer {
  /* top: 25vh; */
  position: relative;
}

.white {
  color: floralwhite;
}

.social-icons {
  list-style-type: none;
  padding-left: 0;
  /* top: 150px; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
}

.social-icons .social-link {
  font-size: 18px;
}

.social-icons .social-link:hover {
  color: #F85C70;
}

.disclaimer{
  width: 45vw;
}

.col-md-4-contacts {

  flex: 0 0 auto;
  /* width: 33.33333%; */

}

.footer a {
 color: #fff;
}


/*-------------END Contacts-------------*/

/*-------------START Album-------------*/

#about {
  background-color: #222;
  color: #333;
  font-family:"Lucida handwriting", "Snell Roundhand", "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 16px;
  padding-top: 5rem;
}

.amp {
  font-family:Garamond,Baskerville,Georgia,serif !important;
  font-style:italic;
  font-weight:normal;
  border: none;
}

a.polaroid {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 0.521vw 0.521vw 0.521vw 0.521vw;
  /* width: 0.521vw; */
  border: 1px solid #BFBFBF;
  background-color: white;
  z-index: 2;
  font-size: 0.7em;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  -webkit-transition: -webkit-transform 0.5s ease-in;
}
a.polaroid:hover,
a.polaroid:focus,
a.polaroid:active {
  z-index: 999;
  border-color: #6A6A6A;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
.polaroid img {
  margin: 0 0 0vw;
  width: 15vw;
  /* width: 7.813vw; */
  /* height: 150px; */
}

a img {
  border: none;
  display: block;
}

.photo-album {
  position: absolute;
  width: 60vw;
  margin-left: 30vw;
  /* max-width: 60vw; */
  height: 90vh
  /* margin-top: 15em; */
  /* min-width: 800px;
  max-width: 900px; */
}
.photo-album .polaroid {
  position: absolute;
}

/* .photo-album h1 {
  position: absolute;
  z-index: 5;
  top: 150px;
  text-align: center;
  width: 100%;
  line-height: 1.9;
}
.photo-album h1 span {
  background-color: white;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  padding: 0.4em 0.8em 0.3em 0.8em;
  -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
  border: 1px solid #6A6A6A; 
}*/

.photo-album .small {
  width: 10vw;
  padding: 0.313vw 10.313vw 0.313vw 0.313vw;
  font-size: 0.6em;
}
.photo-album .small img {
  width: 10vw;

}
.photo-album .medium {
  width: 10.417vw;
  padding: 0.677vw 10.677vw 0.677vw 0.677vw;
  font-size: 0.8em;
}
.photo-album .medium img {
  width: 10.417vw;
  /* height: 50; */
}
.photo-album .large {
  width: 15vw;
  padding: 0.521vw 15.521vw 0.521vw 0.521vw;
  font-size: 1em;
}
.photo-album .large img {
  width: 15vw;
  /* height: auto; */
}
/* fiori */
.photo-album .img1 {
  bottom: 10vh;
  right: 15vw;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
}
/* fiat */
.photo-album .img2 {
  top: 5vh;
  right: 1vw;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
/* messerschmitt */
.photo-album .img3 {
  left: 12vw;
  top: 2vh;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
}
/* frecce */
.photo-album .img4 {
  top: 8vh;
  left: 27vw;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
/* merzario */
.photo-album .img5 {
  bottom: 10vh;
  right: 0;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  transform: rotate(1deg);
}
/* minardi */
.photo-album .img6 {
  bottom: 35vh;
  right: 15vw;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  transform: rotate(2deg);
}
/* gp2 */
.photo-album .img7 {
  bottom: 45vh;
  left: 13vw;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
/* kart */
.photo-album .img8 {
  bottom: 35vh;
  left: 45vw;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
/* imola */
.photo-album .img9 {
  bottom: 15vh;
  left: 12vw;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.photo-album .img10 {
  top: 0;
  left: 1.042vw;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
}
.photo-album .img11 {
  top: 0;
  right: 0;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.photo-album .img12 {
  top: 0;
  left: 35.417vw;
  -webkit-transform: rotate(18deg);
  -moz-transform: rotate(18deg);
  transform: rotate(18deg);
}
.photo-album .img13 {
  bottom: -1.042vw;
  right: 32.813vw;
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  transform: rotate(4deg);
}
.photo-album .img14 {
  top: 4.688vw;
  left: 22.396vw;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
}
.photo-album .img15 {
  left:9.167vw;
  top:1.042vw;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

a:hover,
a:focus {
  z-index: 5;
}

.album-text {
  padding-top: 15vh;
  width: 30vw;
  font-family: "Saira Semi Condensed", sans-serif;
}

  h1.album {
    font-weight: 300;
    font-size: 3em;
    line-height: 0.75em;
    color: #fff;
  }

@media (max-width:960px) {


  .polaroid img {
    margin: 0 0 0vw;
    width: 15vw;
    /* width: 7.813vw; */
    /* height: 150px; */
  }
  
  a img {
    border: none;
    display: block;
  }
  
  .photo-album {
    position: absolute;
    width: 60vw;
    margin-left: 30vw;
    /* max-width: 60vw; */
    height: 90vh
    /* margin-top: 15em; */
    /* min-width: 800px;
    max-width: 900px; */
  }
  .photo-album .polaroid {
    position: absolute;
  }
  
  /* .photo-album h1 {
    position: absolute;
    z-index: 5;
    top: 150px;
    text-align: center;
    width: 100%;
    line-height: 1.9;
  }
  .photo-album h1 span {
    background-color: white;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    padding: 0.4em 0.8em 0.3em 0.8em;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0,0, 0, 0.3);
    border: 1px solid #6A6A6A; 
  }*/
  
  .photo-album .small {
    width: 10vw;
    padding: 0.313vw 10.313vw 0.313vw 0.313vw;
    font-size: 0.6em;
  }
  .photo-album .small img {
    width: 10vw;
  
  }
  .photo-album .medium {
    width: 10.417vw;
    padding: 0.677vw 10.677vw 0.677vw 0.677vw;
    font-size: 0.8em;
  }
  .photo-album .medium img {
    width: 10.417vw;
    /* height: 50; */
  }
  .photo-album .large {
    width: 15vw;
    padding: 0.521vw 15.521vw 0.521vw 0.521vw;
    font-size: 1em;
  }
  .photo-album .large img {
    width: 15vw;
    /* height: auto; */
  }
  /* fiori */
  .photo-album .img1 {
    bottom: 10vh;
    right: 15vw;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  /* fiat */
  .photo-album .img2 {
    top: 12vh;
    right: 1vw;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  /* messerschmitt */
  .photo-album .img3 {
    left: 12vw;
    top: 17vh;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  /* frecce */
  .photo-album .img4 {
    top: 23vh;
    left: 30vw;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  /* merzario */
  .photo-album .img5 {
    bottom: 20vh;
    right: 0;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  /* minardi */
  .photo-album .img6 {
    bottom: 35vh;
    right: 15vw;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  /* gp2 */
  .photo-album .img7 {
    bottom: 45vh;
    left: 13vw;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  /* kart */
  .photo-album .img8 {
    bottom: 40vh;
    left: 45vw;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  /* imola */
  .photo-album .img9 {
    bottom: 20vh;
    left: 12vw;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  .photo-album .img10 {
    top: 0;
    left: 1.042vw;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
  }
  .photo-album .img11 {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  .photo-album .img12 {
    top: 0;
    left: 35.417vw;
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    transform: rotate(18deg);
  }
  .photo-album .img13 {
    bottom: -1.042vw;
    right: 32.813vw;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  .photo-album .img14 {
    top: 4.688vw;
    left: 22.396vw;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  .photo-album .img15 {
    left:9.167vw;
    top:1.042vw;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
  }
  
  a:hover,
  a:focus {
    z-index: 5;
  }
  
  .album-text {
    padding-top: 0vh;
    width: 35vw;
    font-family: "Saira Semi Condensed", sans-serif;
  }
  
  h1.album {
    font-weight: 300;
    font-size: 3em;
    line-height: 0.75em;
    color: #fff;
  }
}
/*-------------END Album-------------*/


/*-------------START Iframe-------------*/
.h_iframe iframe {
  width:80vw;
  height:90vh;
  /* height:calc(100% - 75px); */
  padding-top: 2rem;
}
.h_iframe {
  height: 100%;
}
.element{
  width:100%;
  height:70px;
  /* background:red; */
}
/*-------------END Iframe-------------*/

#offcarr_demo{
background:white;
}


/* #bachelor_thesis {
  background-color: #000;
  overflow-y: hidden;
  max-height: 100vh;
} */
